<!DOCTYPE html>
<html>
<head>
    <title>@ViewContext.ViewBag.Title</title>
    <style>
        body{font-size:80%;font-family:arial,sans-serif}h1{color:#dd4b39;font-size:14pt;line-height:29px;font-weight:400}textarea{font-family: arial,sans-serif;}.folder{width:80%;float:left;position:relative;margin-left:20%}table{border-collapse:collapse;background-color:rgba(243,243,243,.85);width:100%;margin-top:35px}tr td:first-child{width:200px}tr td:last-child{width:80px;text-align:right}td{border-bottom:1px #e5e5e5 solid}td a{display:block;padding:5px 15px}a{text-decoration:none;color:#222}.menu{width:20%;position:fixed}ul{padding:0;margin:0;float:left;list-style:none}li{padding:3px;margin-left:20px}li.selected a{color:#dd4b39;font-weight:700}.page{float:right;margin-bottom:10px}.page .button{width:50px;float:none;margin:0}.button{border-radius:2px;cursor:default;font-size:11px;font-weight:700;line-height:30px;width:100px;background-color:#f5f5f5;display:inline-block;border:1px solid rgba(0,0,0,0.1);text-align:center;box-sizing:border-box;margin:0 3px;padding:0;float:left}h2{clear:both;font-weight:400;padding-top:20px}ol{width:70%;margin:0;padding:0;list-style:none;border-top:1px #e5e5e5 solid}ol li{margin:0;padding:0;border-bottom:1px #e5e5e5 solid}ol li a{font-weight:700;padding:10px 0 6px 10px;display:block}ol div{background-color:rgba(243,243,243,.85)}ol div.open{background-color:#fff}p{white-space:pre-wrap;padding:10px 0 16px 10px}ol .button{display:block;float:none;background-color:#4d90fe;color:#fff;margin-bottom:5px;width:70px}ol li:last-child{border-bottom:0;padding-top:5px}textarea{width:70%}
    </style>
</head>
<body>
    <div class="content">
        @RenderBody()
    </div>
    <script src="~/Scripts/navigation.mvc.min.js"></script>
</body>
</html>
